[submodule "corsika_wrapper"]
	path = corsika_wrapper
	url = git@github.com:fact-project/corsika_wrapper.git 
[submodule "mctracer"]
	path = mctracer
	url = git@github.com:TheBigLebowSky/mctracer.git
[submodule "plenopy"]
	path = plenopy
	url = git@github.com:TheBigLebowSky/plenopy.git
[submodule "instrument_response_function"]
	path = instrument_response_function
	url = git@github.com:TheBigLebowSky/instrument_response_function.git
[submodule "instrument_sensitivity_function"]
	path = instrument_sensitivity_function
	url = git@github.com:TheBigLebowSky/instrument_sensitivity_function.git
[submodule "gamma_limits_sensitivity"]
	path = gamma_limits_sensitivity
	url = git@github.com:mahnen/gamma_limits_sensitivity.git
[submodule "corsika_install"]
	path = corsika_install
	url = git@github.com:TheBigLebowSky/corsika_install.git
[submodule "robo_mount"]
	path = robo_mount
	url = git@github.com:TheBigLebowSky/robo_mount.git
[submodule "photon_spectra"]
	path = photon_spectra
	url = https://github.com/TheBigLebowSky/photon_spectra
